/* @import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"); */

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("../fonts/Livvic-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background-color: #014e56;
  padding: 73px 0 129px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-icon-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.header-logo-img {
  width: 160px;
  height: 40px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
  list-style: none;
}

.header-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #fff;
}

.header-link:hover {
  color: gray;
}

.header-link:active {
  color: #fff;
}

.header-contact-link {
  padding: 9px 33px 11px 32px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  border: 2px solid #ffffff;
  border-radius: 24px;
}

.header-contact-link:hover {
  background-color: #fff;
  border: none;
  color: #014e56;
  padding: 11px 35px 13px 35px;
}

.header-contact-link:active {
  background-color: #014e56;
  border: 2px solid #ffffff;
  color: #fff;
  padding: 9px 33px 11px 32px;
}

.header-responsive-btn {
  background-color: transparent;
  border: none;
  display: none;
}

/*Header-tablet-start*/
@media (max-width: 675px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .wrapper-icon-content {
    gap: 48px;
  }
  .header-logo-img {
    width: 128px;
    height: 32px;
  }
}
/*Header-tablet-end*/
/*Header-phone-start*/
@media (max-width: 560px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header-list,
  .header-contact-link {
    display: none;
  }
  .header-responsive-btn {
    display: block;
  }
}
/*Header-phone-end*/

.hero-section {
  background-color: #014e56;
  background-image: url(../images/hero-bg1.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 695px) top;
  background-size: 200px 200px;
}

.hero {
  padding-bottom: 250px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
  background-image: url(../images/hero-bg2.svg);
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: right bottom;
}

.hero-title-wrappeer {
  max-width: 635px;
}

.hero-title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #fff;
}

.hero-title span {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #f67e7e;
}

.hero-text-wrapper {
  max-width: 445px;
  height: 195px;
}

.hero-line {
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  margin-bottom: 79px;
  display: inline-block;
}

.hero-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #fff;
}

/*Header-tablet-start*/
@media (max-width: 723px) {
  .hero-title-wrappeer {
    margin: 0 auto;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
  .hero-title {
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
  }
  .hero-title span {
    font-size: 64px;
    line-height: 56px;
    letter-spacing: 0px;
  }

  .hero-text-wrapper {
    margin: 0 auto;
  }
  .hero-line {
    display: none;
  }
  .hero-text {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0px;
  }
}
/*Header-tablet-end*/

/*Header-phone-start*/
@media (max-width: 460px) {
  .hero {
    padding-bottom: 197px;
    gap: 18px;
    background-position: center bottom;
    background-size: contain;
  }
  .hero-title {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .hero-title span {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
  }
}
/*Header-phone-end*/

.build-section {
  background-color: #012f34;
  background-image: url(../images/build-bg1.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: right bottom;
}

.build {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 140px 20px;
}

.build-title-wrapper {
  max-width: 445px;
}

.build-list {
  max-width: 540px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.build-line {
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
  display: inline-block;
}

.build-title {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  margin-top: 54px;
}

.build-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.build-item-content-wrapper h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  font-family: Livvic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #f67e7e;
}

.build-item-content-wrapper p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #fff;
}

/* Build-tablet-start */
@media (max-width: 1070px) {
  .build-section {
    background-position: right top;
  }
  .build {
    flex-direction: column;
    gap: 64px;
  }
  .build-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
  }
  .build-title-wrapper {
    margin: 0 auto;
  }
  .build-list {
    margin: 0 auto;
  }
}
/* Build-tablet-end */

/* Build-phone-start */
@media (max-width: 630px) {
  .build-item {
    flex-direction: column;
    align-items: center;
  }
  .build-item-content-wrapper {
    text-align: center;
  }
}
/* Build-phone-end */

.deliv-section {
  padding: 140px 0;
  background-color: #004047;
  background-image: url(../images/deliv-bg1.svg), url(../images/deliv-bg2.svg);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: left top, right bottom;
}

.deliv-title {
  color: #fff;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.deliv-title span {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #79c8c7;
}

.deliv-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  margin-top: 56px;
  padding: 36px 0 11px;
}

.deliv-content-wrapper {
  max-width: 350px;
  background-image: url(../images/deliv-bg3.svg);
  background-repeat: no-repeat;
  background-size: 67px 56px;
  background-position: center top;
  padding: 30px 0 11px;
}

.deliv-content-description {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}

.deliv-content-title {
  font-family: Livvic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #79c8c7;
}

.deliv-content-person-name {
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
}

.deliv-content-img {
  width: 62;
  height: 62;
  top: 240px;
  left: 144px;
  border-width: 2px;
  margin-top: 32px;
}

/* deliv-tablet-start */
@media (max-width: 1170px) {
  .deliv-wrapper {
    flex-direction: column;
  }
  .deliv-content-wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
  }
}
@media (max-width: 850px) {
  .deliv-title {
    font-family: Livvic;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
  }
  .deliv-title span {
    font-size: 32px;
  }
  .deliv-content-wrapper {
    max-width: 100%;
  }
}
/* deliv-tablet-end */
/* deliv-phone-start */
/* deliv-phone-end */

.ready-section {
  background-color: #f67e7e;
  padding: 76px 0;
  background-image: url(../images/ready-bg1.svg);
  background-repeat: no-repeat;
  background-size: 200px 144px;
  background-position: left bottom;
}

.ready {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready-title {
  font-family: Livvic;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #012f34;
}

.ready-btn-2 {
  padding: 9px 33px 11px 32px;
  color: #012f34;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  border: 2px solid #012f34;
  border-radius: 24px;
}

.ready-btn-2:hover {
  color: #fff;
  background-color: #012f34;
}

/* ready-tablet-start */
@media (max-width: 1330px) {
  .ready-section {
    padding: 90px 0;
  }
}
@media (max-width: 912px) {
  .ready {
    flex-direction: column;
    text-align: center;
    gap: 24px;
  }
}
@media (max-width: 815px) {
  .ready-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0px;
  }
}
/* ready-tablet-end */

.site-footer {
  background-color: #002529;
  padding: 48px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-left-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}

.footer-list {
  margin-top: 25px;
  display: flex;
  gap: 40px;
}
.footer-title {
  list-style: none;
}
.footer-title-link {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}
.footer-title-wrapper p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: gray;
}
.footer-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 51px;
  align-items: end;
}
.footer-icon {
  display: flex;
  gap: 16px;
}

.footer-icon-1 {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.footer-right-wrapper p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: right;
  color: gray;
}

/* footer-tablet-start */

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
  }

  .footer-item-link-img {
    width: 96px;
    height: 24px;
  }
  .footer-right-wrapper {
    flex-direction: row;
    gap: 0;
    margin-top: 32px;
    justify-content: space-between;
  }
}
/* footer-tablet-end */
/* footer-phone-start */
@media (max-width: 530px) {
  .footer-left-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .footer-right-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: start;
  }
  .footer-right-wrapper p {
    text-align: center;
  }
}
/* footer-phone-end */

.contact-hero-section {
  background-color: #014e56;
  background-image: url(../images/contact-bg1.svg),
    url(../images/contact-bg2.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px, 112.5px 200px;
  background-position: left top, right bottom;
}

.contact-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 20px;
}

.contact-hero-content-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-hero-content-wrapper h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 100px;
  letter-spacing: 0px;
  color: #fff;
}

.contact-hero-content-wrapper p {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #f67e7e;
  margin: 16px 0 32px;
}

.contact-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-item {
  display: flex;
  gap: 23px;
  align-items: center;
}

.contact-item p {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #fff;
}
.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contact-input {
  width: 100%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  padding: 0 0 16px 14px;
  border-right: none;
  resize: none;
  color: #ffff;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.12px;
}

.contact-input::placeholder {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.12px;
  color: #ffff;
  opacity: 60%;
}

.form-btn {
  padding: 9px 32px 11px;
  border: 2px solid #fff;
  background-color: #014e56;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  border-radius: 24px;
}
.form-btn:hover {
  color: #014e56;
  background-color: #fff;
}

/* contact-tablet-start */
@media (max-width: 1030px) {
  .site-footer {
    padding: 56px 0;
  }
  .contact-hero {
    flex-direction: column;
    gap: 64px;
  }
  .contact-hero-content-wrapper {
    text-align: center;
  }
  .contact-form {
    width: 80%;
  }
}
/* contact-tablet-end */
/* contact-phone-start */
@media (max-width: 550px) {
  .contact-hero-content-wrapper h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .contact-form {
    align-items: start;
  }
}
@media (max-width: 526px) {
  .contact-form {
    width: 100%;
  }
}

/* contact-phone-end */
